<a href="https://colab.research.google.com/github/4070E016/Python/blob/master/python3-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Display two messages
print("Welcome to Python!")
print("Python is fun!!")

Welcome to Python!
Python is fun!

1.1 歡迎來到Python!

In [5]:
# Display three messages
print("Welcome to Python!")
print("Python is fun!!")
print("Problem Driven!!!")

Welcome to Python!
Python is fun!!
Problem Driven!!!

1.2 增加印出的行數!

In [10]:
# Compute expression
print((10.5 + 2 * 3) / (50 - 4.5))

0.3626373626373626

1.3 執行數學運算!

In [12]:
# Convert Fahrenheit to Celsius
print("Fahrenheit 35 is Celsius degree ")
print(5 / 9 * (40 - 32))

Fahrenheit 35 is Celsius degree
4.444444444444445

1.4 計算的邏輯錯誤

In [13]:
# Assign a radius
radius = 20 # radius is now 20

# Compute area
area = radius * radius * 3.14159

# Display results
print("The area for the circle of radius", radius, "is", area)

The area for the circle of radius 20 is 1256.636

2.1計算面積!

In [14]:
# Prompt the user to enter a radius
radius = eval(input("Enter a number for radius: "))

# Compute area
area = radius * radius * 3.14159

# Display results
print("The area for the circle of radius", radius, "is", area)

Enter a number for radius: 5
The area for the circle of radius 5 is 78.53975

2.2輸入半徑計算!

In [16]:
# Prompt the user to enter three numbers
number1 = eval(input("Enter the first number: "))
number2 = eval(input("Enter the second number: "))
number3 = eval(input("Enter the third number: "))

# Compute average
average = (number1 + number2 + number3) / 3

# Display result
print("The average of", number1, number2, number3, 
    "is", average)

Enter the first number: 2
Enter the second number: 4
Enter the third number: 6
The average of 2 4 6 is 4.0

2.3 計算輸入3個數的平均!

In [19]:
# Prompt the user to enter three numbers
number1, number2, number3 = eval(input(
  "Enter three numbers separated by commas: "))

# Compute average
average = (number1 + number2 + number3) / 3

# Display result
print("The average of", number1, number2, number3,
    "is", average)

Enter three numbers separated by commas: 2,4,6
The average of 2 4 6 is 4.0

2.4 在一行裡輸入三個數來計算平均

In [22]:
# Prompt the user for input
seconds = eval(input("Enter an integer for seconds: "))

# Get minutes and remaining seconds
minutes = seconds // 60     # Find minutes in seconds
remainingSeconds = seconds % 60   # Seconds remaining
print(seconds, "seconds is", minutes,  
  "minutes and", remainingSeconds, "seconds")

Enter an integer for seconds: 60
60 seconds is 1 minutes and 0 seconds

2.5 秒數的換算 !

In [23]:
# Prompt the user for input
purchaseAmount = eval(input("Enter purchase amount: "))

# Compute sales tax
tax = purchaseAmount * 0.06

# Display tax amount with two digits after decimal point
print("Sales tax is", int(tax * 100) / 100.0)

Enter purchase amount: 11
Sales tax is 0.65

2.6 SaleTax

In [26]:
import time

currentTime = time.time() # Get current time

# Obtain the total seconds since midnight, Jan 1, 1970
totalSeconds = int(currentTime)

# Get the current second 
currentSecond = totalSeconds % 60 

# Obtain the total minutes
totalMinutes = totalSeconds // 60 

# Compute the current minute in the hour
currentMinute = totalMinutes % 60

# Obtain the total hours
totalHours = totalMinutes // 60

# Compute the current hour
currentHour = totalHours % 24

# Display results
print("Current time is " + str(currentHour) + ":"
    + str(currentMinute) + ":" + str(currentSecond) + " GMT")

Current time is 6:41:1 GMT

2.7 計算GMT時間

In [27]:
# Enter yearly interest rate
annualInterestRate = eval(input(
  "Enter annual interest rate, e.g., 8.25: "))
monthlyInterestRate = annualInterestRate / 1200

# Enter number of years
numberOfYears = eval(input(
  "Enter number of years as an integer, e.g., 5: "))
    
# Enter loan amount
loanAmount = eval(input("Enter loan amount, e.g., 120000.95: "))
    
# Calculate payment
monthlyPayment = loanAmount * monthlyInterestRate / (1
  - 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
totalPayment = monthlyPayment * numberOfYears * 12

# Display results
print("The monthly payment is", int(monthlyPayment * 100) / 100)
print("The total payment is", int(totalPayment * 100) /100)

Enter annual interest rate, e.g., 8.25: 2
Enter number of years as an integer, e.g., 5: 5
Enter loan amount, e.g., 120000.95: 3
The monthly payment is 0.05
The total payment is 3.15

2.8 ComputeLaon

In [28]:
a=10
b=20
c=20
g={'a':6,'b':8}
l={'b':9,'c':10}
eval("a+b+c",g,l)

25

In [30]:
'%c' % 97
'%c %c %c %c %c'% (97,98,99,100,101)
'%d 八進位是%o , 十六進位是  %x' % (97,97, 97)

'97 八進位是141 , 十六進位是  61'